<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>
    {% if user.is_authenticated %}
        <p>welcome {{ user.username }}</p>
        <p><a href="/logout">Logout</a></p>
        <p><a href="/file_upload">Upload Files</a></p>
        <p><p><a href="/file_upload/myfiles">My Files</a></p></p>
    {% else %}
        <p><a href="/login">Login</a></p>
        <p><a href="/register">Signup</a></p>
    {% endif %}
</body>

</html>
