{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Files</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="css/file-tree.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="js/file-tree.min.js"></script>
</head>
<body>
{% for year,months in set_of_files.items %}
    <p>{{ year }}</p>
        {% for month,dates in months.items %}
            <p style="margin-left: 20px">{{ month }}</p>
            {% for date,folders in dates.items %}
                <p style="margin-left: 40px">{{ date }}</p>
                {% for folder,contents in folders.items %}
                    <p style="margin-left: 60px">{{ folder }}</p>
                    {% for content,files in contents.items %}
                     <p style="margin-left: 80px">{{ content }}</p>
                        {% for file in files %}
                            <p style="margin-left: 100px">{{ file }}</p>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
        {% endfor %}
{% endfor %}
{% endfor %}
</body>
</html>