<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
</head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>

<body>
    <form method="post" id="idform" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input id="file_submit" onclick="" type="submit" multiple>Upload</input>
    </form>

<script type="application/javascript">
$.validator.addMethod('filesize', function (value, element, param) {
    return this.optional(element) || (element.files[0].size <= param)
}, 'File size must be less than {0}');

jQuery(function ($) {
    "use strict";
    $('#idform').validate({
        rules: {
            image: {
                required: true,
                extension: "jpg,jpeg",
                filesize: 20,
            }
        },
    });
});


</script>
</body>

</html>